:root {
  --color-blue-100: #e5f0fa;
  --color-white-100: hsla(0, 0%, 100%, 1);
  --color-white: var(--color-white-100);
  --color-gray-100: hsla(240, 6%, 98%, 1);
  --color-gray-200: hsla(240, 6%, 87%, 1);
  --color-gray-300: hsla(240, 6%, 76%, 1);
  --color-gray-400: hsla(240, 6%, 65%, 1);
  --color-gray-500: hsla(240, 6%, 54%, 1);
  --color-gray-600: hsla(240, 8%, 43%, 1);
  --color-gray-700: hsla(240, 8%, 32%, 1);
  --color-gray-800: hsla(240, 8%, 21%, 1);
  --color-gray-900: hsla(240, 8%, 10%, 1);
  --color-black: hsla(240, 8%, 5%, 1);
  --color-primary-h: 210;
  --color-primary-s: 100%;
  --color-primary-l: 40%;
  --color-primary-10: hsla(
    var(--color-primary-h),
    var(--color-primary-s),
    var(--color-primary-l),
    0.1
  );
  --color-primary-20: hsla(
    var(--color-primary-h),
    var(--color-primary-s),
    var(--color-primary-l),
    0.2
  );
  --color-primary-40: hsla(
    var(--color-primary-h),
    var(--color-primary-s),
    var(--color-primary-l),
    0.4
  );
  --color-primary-50: hsla(
    var(--color-primary-h),
    var(--color-primary-s),
    var(--color-primary-l),
    0.5
  );
  --color-primary-100: hsla(
    var(--color-primary-h),
    var(--color-primary-s),
    var(--color-primary-l),
    1
  );
  --color-primary: var(--color-primary-100);
  --color-secondary-h: 50;
  --color-secondary-s: 100%;
  --color-secondary-l: 60%;
  --color-secondary-30: hsla(
    var(--color-secondary-h),
    var(--color-secondary-s),
    var(--color-secondary-l),
    0.3
  );
  --color-secondary-50: hsla(
    var(--color-secondary-h),
    var(--color-secondary-s),
    var(--color-secondary-l),
    0.5
  );
  --color-secondary-60: hsla(
    var(--color-secondary-h),
    var(--color-secondary-s),
    var(--color-secondary-l),
    0.6
  );
  --color-secondary-100: hsla(
    var(--color-secondary-h),
    var(--color-secondary-s),
    var(--color-secondary-l),
    1
  );
  --color-secondary: var(--color-secondary-100);
  --color-secondary-opaque: hsla(50.3, 100%, 87.8%, 1);
  --color-background: var(--color-white);
  --color-text: var(--color-gray-800);
  --color-headings: var(--color-black);
  --color-disabled: var(--color-gray-400);
  --main-font-family: "Lexend";
  --main-font-weight: 400;
  --main-font-style: normal;
  --fallback-font-family: "Noto";
  --text-xl: clamp(1.25rem, 1.125rem + 0.556vw, 1.5rem);

  --space-40: 2.5rem;
  --border-width: 1px;
  --border-color: var(--color-gray-200);
  --border: var(--border-width) solid var(--border-color);
  --text-md: 1rem;
  --leading-none: 1;
  --rounded-sm: 4px;
  --rounded-md: var(--text-md);
  --rounded-lg: var(--text-lg);
  --rounded-xl: var(--text-xl);
  --rounded-full: 50%;
  --wrapper-max-width: 80rem;
  --header-height: 4rem;
  --space-16: 1rem;
  --gutter: clamp(24px, 20px + 1.111vw, 32px);
}

@font-face {
  font-family: "Lexend";
  src: url("/fonts/Lexend-Regular.ttf");
}

*,
::before,
::after {
  box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
}

a,
a:visited {
  color: var(--color-text, initial);
}

body {
  font-family: var(--main-font-family), var(--fallback-font-family);
  font-weight: 400;
  font-style: normal;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 80rem;
  justify-content: space-evenly;
  position: relative;
  margin-inline: auto;
}

input {
  appearance: none;
}

input,
select {
  background: 0 0;
  position: relative;
  border: var(--border);
  border-radius: var(--rounded-sm);
  padding: 0.425em 1em 0.45em;
  min-height: var(--space-40);
  font: inherit;
}

main {
  position: relative;
}

section {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

section button {
  margin-top: 12px;
}

section,
footer,
.wrapper {
  padding: 12px;
  border: var(--border);
  margin-inline: auto;
  width: 100%;
  max-width: var(--wrapper-max-width);
  padding-inline: var(--gutter, 2rem);
  position: relative;
  background-color: inherit;
  color: var(--color-text, inherit);
  transition: inherit;
  border-inline: var(--border);
}

section {
  background-color: var(--color-white-100);
}

section header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section header h2,
p {
  padding-left: 24px;
}

section header p {
  color: var(--color-gray-500);
}

span {
  color: var(--color-primary);
}
table {
  --accent-bg: var(--color-gray-100);
  border-collapse: collapse;
  margin: 1.5rem 0;
}

table caption {
  font-weight: italic;
  margin-bottom: 0.5rem;
}

td,
th {
  border: var(--border);
  text-align: start;
  padding: 0.5rem;
}

th {
  background-color: var(--accent-bg);
  font-weight: bold;
}

tr:nth-child(even) {
  /* Set every other cell slightly darker. Improves readability. */
  background-color: var(--accent-bg);
}

.absolute-values-table {
  align-self: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.absolute-values-table button {
  margin-left: auto;
}

.btn-download {
  background-color: var(--color-primary-100);
  border: 0;
  border-radius: 50%;
  color: var(--color-white);
  cursor: pointer;
  font-size: 1.5rem;
  height: 48px;
  text-align: center;
  width: 48px;
}

.btn-drop-down {
  background-color: var(--color-secondary-30);
  border-radius: 50%;
  margin-top: initial;
  cursor: pointer;
  text-align: center;
}

.btn-primary,
.btn-primary-100 {
  display: inline-flex;
  border-style: none;
  justify-content: center;
  align-items: center;
  padding: 0.75em 1em 0.8em;
  text-align: center;
  text-decoration: none;
  font-size: var(--text-md);
  font-weight: 500;
  border-radius: var(--rounded-xl);
  cursor: pointer;
  background-color: var(--background, var(--color-primary-100));
  color: var(--color, var(--color-white));
  transition:
    background var(--timing) var(--easing),
    color var(--timing) var(--easing);
  user-select: none;
}

.btn-sm {
  font-size: var(--text-sm);
}

.graph-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 800px;
  min-height: 600px;
}

.graph-display svg {
  font-size: 1.25rem;
}

.logo {
  display: flex;
  column-gap: 0.5rem;
  font-size: 1.4375rem;
  font-weight: 500;
  height: var(--space-32);
  margin-left: auto;
  color: var(--color-headings);
}

.options {
  position: relative;
  margin-left: auto;
  display: flex;
  gap: 12px;
  flex-direction: row;
}

.options select {
  appearance: auto;
  background-color: var(--color-secondary-30);
  border-radius: var(--rounded-xl);
  box-sizing: border-box;
  margin-top: 12px;
}

.swatch {
  display: inline-flex;
  align-items: center;
  margin-right: 5px;
  height: 15px;
}

.plot text {
  margin-left: 12px;
}

.plot-swatches {
  font-family: var(--main-font-family);
}

.plot-swatch {
  font-size: 1.1rem;
}

.swatch::before {
  content: "";
  width: 15px;
  height: 15px;
  margin-right: 5px;
  background: var(--color);
}

.toggletip-container .toggletip-bubble {
  position: absolute;
  z-index: 1;
  right: 30%;
  width: 300px;
  background-color: var(--color-secondary-opaque);
  padding: 12px;
}

.toggletip-container {
  margin-left: auto;
}

.toggletip-container button {
  border-radius: var(--rounded-sm);
  appearance: none;
  background-color: var(--color-secondary-30);
  border: var(--border);
  margin: initial;
}

.toggletip-bubble {
  border: var(--border);
  border-radius: 0% var(--rounded-xl) var(--rounded-xl);
  color: var(--color-gray-700);
  display: flex;
}

.toggletip-bubble button {
  max-height: 24px;
}

.treemap-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

::selection {
  background: var(--color-secondary-30, Highlight);
}

@media (min-width: 480px) {
  *,
  ::after,
  ::before {
    box-sizing: content-box;
  }

  section header a {
    margin-left: auto;
  }

  .btn-sm {
    max-height: 2.25rem;
  }

  .field:last-child .label-wrapper .toggletip-container .toggletip-bubble {
    left: initial;
    right: 100%;
    top: -110%;
  }

  .graph-display {
    align-self: center;
  }

  .graph-display svg {
    font-size: initial;
  }

  .toggletip-container {
    position: relative;
    display: inline-block;
  }

  .toggletip-container .toggletip-bubble {
    right: initial;
    left: 100%;
    top: 0;
  }
}

@media (hover: hover) {
  .btn-primary:hover,
  .btn-primary-100:hover {
    --background: color-mix(in srgb, var(--color-primary-100) 80%, black);
  }

  .btn-primary-10:hover {
    --background: color-mix(in srgb, var(--color-primary-10) 80%, white);
  }

  .btn-secondary:hover,
  .btn-secondary-30:hover {
    --background: var(--color-secondary-50);
  }
}
